{% import "_includes/forms" as forms %}

{{
	forms.textField({
		label: 'Shippo API Key',
		instructions: 'Paste your key here to enable Shippo Live Rates.',
		name: 'apiKey',
		value: settings['apiKey']
	})
}}

<h2>Default &lsquo;From&rsquo; Address</h2>

{{
	forms.textField({
		label: 'Name',
		name: 'fromAddress[name]',
		value: settings['fromAddress']['name']
	})
}}

{{
	forms.textField({
		label: 'Company',
		name: 'fromAddress[company]',
		value: settings['fromAddress']['company']
	})
}}

{{
	forms.textField({
		label: 'Address Line 1',
		name: 'fromAddress[street1]',
		value: settings['fromAddress']['street1']
	})
}}

{{
	forms.textField({
		label: 'city',
		name: 'fromAddress[city]',
		value: settings['fromAddress']['city']
	})
}}

{{
	forms.textField({
		label: 'State',
		name: 'fromAddress[state]',
		value: settings['fromAddress']['state']
	})
}}

{{
	forms.textField({
		label: 'ZIP Code',
		name: 'fromAddress[zip]',
		value: settings['fromAddress']['zip']
	})
}}

{{
	forms.textField({
		label: 'Country',
		name: 'fromAddress[country]',
		value: settings['fromAddress']['country']
	})
}}

{{
	forms.textField({
		label: 'Phone',
		name: 'fromAddress[phone]',
		value: settings['fromAddress']['phone']
	})
}}

{{
	forms.textField({
		label: 'Email',
		name: 'fromAddress[email]',
		value: settings['fromAddress']['email']
	})
}}